@{
    List<Login> patients = ViewBag.Patients;
    List<Login> doctors = ViewBag.Doctors;
}
<div>
    <h1>Create Appointment</h1>
    <form action="create" method="post">
        <label>Patient : </label>
        <select name="userid">
            @foreach (Login patient in patients)
            {
                <option value="@patient.Id">@patient.FirstName</option>
            }
        </select>
        <br />
        <label>Doctor : </label>
        <select name="doctorid">
           @foreach (Login doctor in doctors)
            {
                <option value="@doctor.Id">@doctor.FirstName</option>
            }
        </select>
        <br />
        <label>Appointment Date</label>
        <input name="AppointmentDate" type="datetime-local" />
        <br />
        <input type="submit" name="btnCreate" value="Create" />
    </form>
</div>