<div>
    <h1>Login Form</h1>
    <form action="login" method="post">
        <label>User/Login Name : </label>
        <input type="text" name="username" />
        <br />
        <label>Password : </label>
        <input type="password" name="password" />
        <br />
        <input type="submit" name="btnLogin" value="Login" />
    </form>
</div>